<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPython Notebook Runner</title>
</head>
<body>
    <h1>Upload your IPython Notebook (.ipynb)</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".ipynb" required>
        <button type="submit">Run Notebook</button>
    </form>
</body>
</html>